body {
    font-family: Arial, sans-serif,century Georgia, 'Times New Roman', Times, serif;
    background-color: #ffffffcc;
}
h1 {
    color: #d30f91;

}
h2 {
    color:#35b0e0;
}
h3 {
    color:#35b0e0;

}
p {
    color:#440541
}
li {
    color:#440541
}