body {
    font-family: Arial, sans-serif,century Georgia, 'Times New Roman', Times, serif;
    background-color: #ffa7f9cc;
}
h1 {
    color: #fafafa;
    
}
h2 {
    color:#35b0e0
}
p {
    color:#440541
}
li {
    color:#440541
}